<!-- Form Start -->               
<div class="container-fluid homeheaderbg2">
  <div class="container">  
    <div class="row">                                                    
      <div class="form2">
        <div class="photo">
          <img src="<%= asset_path('new_ui/Sebrinafingerup.jpg') %>" width="265" alt="Subrina" />
        </div>
        <div class="formbox">
          <p><img src="<%= asset_path('new_ui/logo_SFSO.png') %>" alt="SFSO" id="logo__sfso"/></p>
          <p>&nbsp;</p>
          <p style="font-size:18px; color:#B28A35;">BE THE FIRST TO KNOW</p>
          <%= form_for @user, :url => { :action => "create" }, :html => {:class => "form-inline"} do |f| %>
            <%= f.text_field :first_name, :placeholder => "Enter First Name", :class => "emailbox2" %> <br> 
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "emailbox2" %> <br> 
            <input class="btn purple2" type="submit" value="STEP INSIDE" />
          <% end %>
          <p>&nbsp;</p>
        </div>  
        <div class="clearfix"></div>  
      </div>
    </div>
  </div>
</div>
<!-- Form End -->  
