<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, shrink-to-fit=no">
  <title>South Florida</title> 
  <link rel="icon" type="image/png" href= "<%= asset_path('new_ui/logo.png') %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="South Florida">
  <meta name="twitter:title" content="South Florida Symphony Orchestra’s">
  <meta name="twitter:description" content="Win free tickets or even a season subscription to the South Florida Symphony Orchestra’s terrific 20th Season.">
  <meta name="twitter:creator" content="South Florida">
  <meta name="twitter:image" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/new_ui/logos.jpg">
  <meta name="twitter:domain" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>">
  <meta property="og:title" content="South Florida Symphony Orchestra’s" />
  <meta property="og:description" content="Win free tickets or even a season subscription to the South Florida Symphony Orchestra’s terrific 20th Season." />
  <meta property="og:image" content="<%= Rails.application.config.action_mailer.default_url_options[:host] %>/assets/new_ui/bg.jpg" />
  <!--The following script tag downloads a font from the Adobe Edge Web Fonts server for use within the web page. We recommend that you do not modify it.-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application.js", :media => 'screen, projection' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= render 'toastr_rails/flash' %>
</body>
</html>
